<footer>
    <div class="container-fluid footer1 pt-2">
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group ">
                    <li class="list-group-item bg-transparent"><a href="/utilities/contact" class="mycolor" >Contact</a></li>
                    <li class="list-group-item bg-transparent"><a href="/utilities/mentions_legales" class="mycolor">Mentions Légales</a></li>
                </ul>
            </div>
            <div class="col-md">
                <div class="row justify-content-between"> 
                    
                    <div class="col-5 -sm" >
                        <iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Saint-Gauzy%20La%20Rouquette+(Ferme%20%C3%89questre%20de%20Saint-Gauzy)&amp;t=&amp;z=14&amp;output=embed" width="220" height="220" frameborder="0"></iframe>
                    </div>
                    <div class="col-5 -sm" > 
                        <pre style="font-size:13px">


    Saint-Gauzy
    12200 LA ROUQUETTE
    00 00 00 00 00
    06 00 00 00 00
    xxxx@yyyy.zz

                        </pre>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                MENUS SOCIAUX

            </div>


        </div>

    </div>
</footer>