<footer>
    <div class="container-fluid footer1 pt-3 pb-4" >
        <div class="row justify-content-evenly">
            <div class="col-sm-3">
                <nav class="nav flex-column">
                    <a class="nav-link bg-transparent mycolor" href="/" >Accueil</a>
                    <a class="nav-link bg-transparent mycolor" href="/utilities/contact">Contact</a>
                    <a class="nav-link bg-transparent mycolor" href="/utilities/mentions_legales">Mentions Légales</a>
                    <a class="nav-link bg-transparent mycolor" href="#" >Partenaires</a>
                    <a class="nav-link bg-transparent mycolor" href="#" >Plan du Site</a>
                </nav>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li>La Ferme Équestre</li>
                    <li>Saint-Gauzy</li>
                    <li>12200 LA ROUQUETTE</li>    
                </ul>
                <i class="bi-telephone-fill"> : 05-00-00-00-00</i><br>
                <i class="bi bi-phone-fill"> : 06-00-00-00-00</i><br>
                <i class="bi bi-envelope-open-fill"> : xxx@yyy.zz</i><br>
            </div>
            <div class="col-sm-1">
                <ul class="list-unstyled">
                    <a href="https://www.ffe.com/"><img class="img-fluid"  src="https://www.ffe.com/var/ezwebin_site/storage/images/media/images/logo-et-visuels-divers/logo-federaux/logo-federal-3-couleurs/32780-2-fre-FR/Logo-Federal-3-couleurs_imagelarge.jpg" style="max-width: 80%; heigth: auto;"></a>
                </ul>
            <!-- </div class="col-1"> 
            <div> -->

            </div>
            <div class="col-sm-1">
                <u class="list-unstyled">
                    <a href="https://www.facebook.com/"><img clas="img-fluid" src="/media/icone/facebook.png" style="max-width: 100%; heigth: auto;">
                    </a>
                    <a href="https://twitter.com/?lang=fr"><img clas="img-fluid" src="/media/icone/twitter.png" style="max-width: 100%; heigth: auto;">
                    </a>
                </u>
            </div>

            
        </div>
    </div>

</footer>
