{{/* Navbar html with a link to the home page calling a client name param from the config.toml as the link text - works normally */}}
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
<a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">{{ $.Site.Params.client }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
		{{/* within the <ul> tags is the template code I am calling written below to list the links to sections/articles */}}
			{{- template "section-nav" . -}}
		</ul>
	</div>
</nav>

{{/* define the template code to insert above */}}
{{- define "section-nav" -}}
{{/* set the parameter $home for the homepage */}}
{{ $home := $.Site.Home }}
	{{/* loop through the pages of the site by the title of the page */}}
	{{- range .Site.Pages.ByTitle -}}

		{{/* 1) conditional statment to find pages of kind "home" (the top level index page) */}}
		{{- if eq .Kind "home" -}}
		{{/* html to set it as a relative link to the hompage */}}
		<li class="nav-item "><a class="nav-link" href="{{ $home.RelPermalink }}">Home</a></li>

		{{/* 2) conditional statment to find top level single pages in the content directory  */}}
		{{- else if (.InSection $home) -}}
		{{/* html to set it as a link to the single page */}}
		<li class="nav-item "><a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }}</a></li>

		{{/* 3) conditional statment to find section pages in order to make dropdown menu items from them */}}
		{{- else if eq .Kind "section" -}}
		{{/* setting a scratch variable to match the current section in the range */}}
		{{ $.Scratch.Set "section" . }}
			{{/* html to make a dropdown list item that can be clicked */}}
			<li class="nav-item dropdown ">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu{{ urlize .Title }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Title }}</a>
			{{/* html to make a dropdown menu to list the links in */}}
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenu{{ urlize .Title }}">
			  <h6 class="dropdown-header">{{ .Title }}</h6>
				<div class="dropdown-divider"></div>
				{{/* loop through all the pages of the site */}}
				{{- range $.Site.Pages -}}
				{{/* try to find just the pages that are members of this section */}}
				{{- if .IsAncestor ($.Scratch.Get "section") }}
				{{/* link the pages that are members of the section */}}
				<a class="dropdown-item " href="{{ .RelPermalink }}">{{ .Title }}</a>
		  	{{- end -}}
				{{- end }}
			</div>
			</li>
		{{- end -}}
	{{- end -}}
{{- end -}}